<!DOCTYPE html> 
<html lang=en>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Greer Page's personal website">
    <meta name="author" content="Greer Page">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <title>About</title>
    <link rel="icon" href="{% static '/images/favicon.jpg' %}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="aboutimg">
        <div class="topbuttons">
            <button class="hiddenbtn" onclick="Slide('smallmenu')"><i class="fas fa-bars fa-2x"></i></button>
            <a class="link1" href="/">Greer Page</a>
            <a class="link1" href="/about">About</a>
            <a class="link0" href="/">Greer Page</a>
            <a class="link1" href="/projects">Projects</a>
        </div>
        <div class="smallmenu closed" id="smallmenu">
            <a class="link10" href="/about">About</a>
            <a class="link10" href="/projects">Projects</a>
        </div>
        <div class="abouttext">
            <p style="font-size: 35px; padding-bottom: 20px;">About</p>
            <p style="font-size: 20px; padding-bottom: 20px;">This website is hosted on a Raspberry Pi 4 using apache2. I am using cloudflare's free ssl service for encryption. I originally wrote the website in html, css, and javascript, until I decided to that it would be a good idea to learn something new. So I rewrote the website in a python web framework called Django. The code can be found on my GitHub.</p>   
            <p style="font-size: 25px; padding-bottom: 20px;">PC Parts:</p>
            
            <ul style="font-size: 20px; color: #313131; text-decoration:none;">
                {% block content %}
                <li><a style="color: #313131;" href={{links.0}} target="_blank">Ryzen 5 2600</a></li>
                <li><a style="color: #313131;" href={{links.1}} target="_blank">Corsair 16GB RAM 3000MHZ</a></li>
                <li><a style="color: #313131;" href={{links.2}} target="_blank">ASRock X470 Master SLI/AC</a></li>
                <li><a style="color: #313131;" href={{links.3}} target="_blank">Gigabyte 1660</a></li>
                <li><a style="color: #313131;" href={{links.4}} target="_blank">Corsair CX 550M</a></li>
                <li><a style="color: #313131;" href={{links.5}} target="_blank">Corsair Carbide 275r</a></li>
                <li><a style="color: #313131;" href={{links.6}} target="_blank">Adata 480GB SSD</a></li>
                <li><a style="color: #313131;" href={{links.7}} target="_blank">Seagate BarraCuda 2TB</a></li>
                <li><a style="color: #313131;" href={{links.8}} target="_blank">TT RGB Fans</a></li>
                {% endblock %}
            </ul>
            
        </div>
    </div>
    
    <div class="pagebottoms">
        <div class="pagebottomtext">
            <p>L i n k s</p>
        </div>
        <div class="links">
            <a href="https://www.instagram.com/ggrreeeeerr/" target="_blank"><img src="{% static '/images/icons/insta.png' %}" class="lnk1"></a>
            <a href="https://www.youtube.com/channel/UCbjU4j8OkUWFNug8UFf-E1w" target="_blank"><img src="{% static '/images/icons/yt.png' %}" class="lnk1"></a>
            <a href="https://github.com/GreerPage" target="_blank"><img src="{% static '/images/icons/github.png' %}" class="lnk1"></a>
            <a href="https://repl.it/@greer" target="_blank"><img src="{% static '/images/icons/repl.png' %}" class="lnk1"></a>
            <a href="https://open.spotify.com/user/mrmcmallow?si=V0Tedh3UTA2iKW4-whJF1Q" target="_blank"><img src="{% static '/images/icons/spotify.png' %}" class="lnk1"></a>
        </div>
    </div>
</body>
</html>