html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
.btn {
  background-color: Transparent; 
  border: 4px solid transparent; 
  color: white; 
  font-size: 8px; 
  cursor: pointer;
  padding: 5px;
  border-radius: 12px;
}

.btn:hover {
  opacity: 0.6;
}
.buttons {
  position: absolute;
  top: 30%;
  left: 10px;
}
.laguage-bars {
  padding: 0; 
  margin-right: 1px;
  height: 20px; 
  display: inline-block;
  white-space: nowrap;
  margin-left: -5px;
}
.language-bars-container {
  height: 20px;
  position: relative;
  left: 5px;
  top: 15px;
  padding: 0;
  border-radius: 3px;
}
.repo-page-info {
  height: 30px;
  width: 100%;
  background-color: white;
  margin-bottom: 50px;
}
.git-langs-list {
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  grid-column-gap: 20px;
}
.git-langs-list li {
  display: inline; 
  margin-left: 15px;
}
.git-langs-list-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#git-langs-list-container {
  display: none;
}
.lnk{
  height: 30px;
  width: 30px;
  display: block;
  padding: 5px;
}
.lnk:hover{
  opacity: 0.6;
}
.lnk1{
  height: 45px;
  width: 45px;
  padding: 10px;
}
.lnk1:hover{
  opacity: 0.6;
}
.pagebottoms{
  background-color: #282828;
  min-height: 300px;
  height: auto;
  margin: 0;
  padding: 0;
}
.pagebottomtext{
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: 50px;
}
.projectreadmoretext{
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 75%;
}
.links{
  text-align: center;
  position: relative;
  top: 50px;
}
.projlist{
  color: white;
  text-decoration: none;
}
.projlist:hover{
  text-decoration: underline;
}
.link{
  text-decoration:none;
  color: white; 
  font-size: 20px; 
  cursor: pointer;
  padding: 30px;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
}
.link1{
  z-index: 11;
  text-decoration:none;
  color: #313131; 
  font-size: 20px; 
  cursor: pointer;
  padding: 30px;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
}
.topbuttons{
  z-index: 100;
  position: absolute;
  top: 30px;
  left: 15px;
}
.project-main {
  width: 75%;
  min-height: 100%;
  position: relative;
  top: 75px;
  left: 50%;
  transform: translatex(-50%);
}
.repo-container {
  border: #b3b3b3 solid 1px;
  border-radius: 10px;
  padding: 20px;
  height: 200px;
  width:200px;
  margin: 20px;
  display: block;
  transition: border 0.2s;
  font-family: 'Roboto', sans-serif;
  color: #313131;
  font-size: 20px;
}
.git-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #bbb;
  display: inline-block;
  margin: 0px 4px;
}
.lang-button {
  border: 0;
  display: block;
  height: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
}
.lang-button:hover {
  cursor: pointer;
}
#language-bars-container:hover {
  cursor: pointer;
}
.repo-container:hover {
  border: #b3b3b3 solid 2px;
}
.repos-container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: left;
  max-width: 850px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
}
.git-link {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #0366d6;
}
.git-link:hover {
  text-decoration: underline;
}
.homeimg{
  background-image: url("../images/img1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-position: fixed;
  background-repeat: no-repeat;
}
.aboutimg{
  background-color: white;
  min-height:100vh;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-position: fixed;
  background-repeat: no-repeat;
}
.projectimg{
  z-index: 0;
  background-color: white;
  min-height:100vh;
  height: fit-content;
  background-size: cover;
  background-position: center center;
  background-position: fixed;
  background-repeat: no-repeat;
}
.abouttext{
  width: 75%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #313131;
  transform: translateX(-50%);
  padding-top: 100px;
  margin-left: 50%;
}
.projectlink{
  color: #313131;
  text-align: left;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.tabletext{
  color: #313131; 
  font-size: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
.projecttitle{
  font-size: 35px;
  width: 100%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #313131;
}
.projectlink:hover{
  text-decoration: underline;
}
.gitpagelink{
  font-size: 35px;
  color: #313131;
  text-decoration: none;
  padding-bottom: 20px;
}
.gitpagelink:hover{
  text-decoration:underline;
}
.readme{
  font-size: 20px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  width: 100%;
  overflow: auto;
}
p {
  font-family: 'Roboto', sans-serif;
}
.bottom-info {
  height: 150px;
  background-color: #202020
}
.bottom-info p {
  margin: 0;
  font-size: 15px;
  color: white;
}
#copyright {
  width: fit-content;
  margin-right: 0;
  position: absolute; 
  left: 15%;
}
.bottom-info div {
  padding-top: 55px; 
  position: absolute; 
  right: 15%
}
.readme img{
  max-width: 100%;
}
.readme a{
  color: #0366d6;
  text-decoration: none;
}
.readme li{
  padding-bottom: 3px;
}
.readme code{
  color: #313131;
  font-family: hack;
  background-color: #f0f0f0;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  font-size: 17px;
}
.readme a:hover{
  text-decoration: underline;
}
.readmetop{
  font-weight: bold;
  width:100%;
  height: 40px;
  background-color: #f5f4f4;
  border-bottom: 1px solid #b3b3b3;
}
.gittable{
  text-align: left;
  border-collapse: collapse;
  width:100%;
}
.gitrow {
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  border-collapse: collapse;
}​
.caption{
  color: white;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.projectreadmore{
  padding-top: 50px;
  min-height: 300px;
  width: 100%;
  background-color: #2c2c2c;
  padding-bottom: 100px;
}
.error{
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.pagebottoms1{
  display: hidden;
}
.backimg{
  background-color: white;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-position: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.TableOuter{
  z-index: 101;
  width: 75%;
  padding-top: 100px;
  margin-left: 50%;
  transform: translatex(-50%);
  overflow-x: auto;
  overflow-y: hidden;
}
.centertext{
  color: #313131;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.pclinks{
  color: #313131;
  text-decoration: none;
}
.pclinks:hover{
  text-decoration: underline;
}
.link0{
  display: none;
}
.hiddenbtn{
  display: none;
}
.link10{
  display: none;
}
.gittextbox{
  width: 50%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #313131;
  transform: translateX(-50%);
  padding-top: 100px;
  margin-left: 50%;
  margin-bottom: 15%;
}
#Percent {
  display: inline-block;
}
@media screen and (max-width: 1300px) {
  .gittextbox{
    width: 75%;
  }
}
@media screen and (max-width: 1144px) {
  .repos-container {
    width: 570px;
  }
}
@media screen and (max-width: 768px) {
  .repos-container {
    width: 260px;
  }
  #Percent {
    display: none;
  }
  .topbuttons {
    z-index: 11;
    background-color: white;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .link{
    display: none;
  }
  .link1{
    display: none;
  }
  .link0{
    z-index: 11;
    display: inline;
    text-decoration:none;
    color: #313131; 
    font-size: 20px; 
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 20px; 
    left: 10%;
  }
  .hiddenbtn{
    display: inline;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    color: #565656;
    position: relative;
    top: 20px; 
    left: 85%;
  }
  .hiddenbtn:hover{
    opacity: 0.6;
  }
  .smallmenu{
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10;
    height: 180px;
    max-height:180px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    opacity: 1;
    
  }
  .smallmenu.closed{
    max-height: 0;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .smallmenu.closed1{
    display: none;
  }
  .link10{
    display: block;
    z-index: 12;
    text-decoration:none;
    color: #313131; 
    font-size: 20px; 
    cursor: pointer;
    padding-bottom: 30px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 70px;
    left: 10%;
  }
  .link10about{
    display: block;
    z-index: 120;
    text-decoration:none;
    color: #313131; 
    font-size: 20px; 
    cursor: pointer;
    padding-bottom: 30px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -10px;
    left: 10%;
  }
}
@media screen and (max-width: 490px) {
  #copyright {
    left: 5%;
  }
  .bottom-info div {
    right: 5px;
  }
  .git-langs-list li {
    font-size: 15px;
  }
  
}