{% extends 'head.html' %}
{% load static %}

{% block head %} 
    <title>About</title>
{% endblock %}
{% block body %} 
    <div class="topbuttons">
        <button class="hiddenbtn" onclick="Slide('smallmenu')"><i class="fas fa-bars fa-2x"></i></button>
        <a class="link1" href="/">Greer Page</a>
        <a class="link1" href="/about">About</a>
        <a class="link0" href="/">Greer Page</a>
        <a class="link1" href="/projects">Projects</a>
    </div>
    <div class="smallmenu closed" id="smallmenu">
        <a class="link10" href="/about">About</a>
        <a class="link10" href="/projects">Projects</a>
    </div>
    <div class="aboutimg">
        
        <div class="abouttext">
            <p style="font-size: 35px; padding-bottom: 20px; margin: 0;">About</p>
            <p>{{abouttext | safe}}</p>   
            <p style="font-size: 25px; padding-bottom: 20px;">PC Parts:</p>
            
            <ul style="font-size: 20px; color: #313131; text-decoration:none; ">
                
                <li><a class="pclinks" href={{links.0}} target="_blank">Ryzen 5 2600</a></li>
                <li><a class="pclinks" href={{links.1}} target="_blank">Corsair 16GB RAM 3000MHZ</a></li>
                <li><a class="pclinks" href={{links.2}} target="_blank">ASRock X470 Master SLI/AC</a></li>
                <li><a class="pclinks" href={{links.3}} target="_blank">Gigabyte 1660</a></li>
                <li><a class="pclinks" href={{links.4}} target="_blank">Corsair CX 550M</a></li>
                <li><a class="pclinks" href={{links.5}} target="_blank">Corsair Carbide 275r</a></li>
                <li><a class="pclinks" href={{links.6}} target="_blank">Adata 480GB SSD</a></li>
                <li><a class="pclinks" href={{links.7}} target="_blank">Seagate BarraCuda 2TB</a></li>
                <li><a class="pclinks" style="padding-bottom: 10px;" href={{links.8}} target="_blank">TT RGB Fans</a></li>
                
            </ul>
            
        </div>
    </div>
    
    <div class="pagebottoms">
        <div class="pagebottomtext">
            <p>L i n k s</p>
        </div>
        <div class="links">
            <a href={{medialinks.0}} target="_blank"><img src="{% static '/images/icons/insta.png' %}" class="lnk1"></a>
            <a href={{medialinks.1}} target="_blank"><img src="{% static '/images/icons/yt.png' %}" class="lnk1"></a>
            <a href={{medialinks.2}} target="_blank"><img src="{% static '/images/icons/github.png' %}" class="lnk1"></a>
            <a href={{medialinks.3}} target="_blank"><img src="{% static '/images/icons/repl.png' %}" class="lnk1"></a>
            <a href={{medialinks.4}} target="_blank"><img src="{% static '/images/icons/spotify.png' %}" class="lnk1"></a>
        </div>
    </div>
{% endblock %}
