{% extends 'head.html' %}
{% load static %}

{% block head %} 
    <title>About</title>
{% endblock %}
{% block body %}
    <div class="aboutimg">
        <div class="abouttext">
            <p style="font-size: 35px; padding-bottom: 20px; margin: 0;">About</p>
            <p>{{abouttext | safe}}</p>   
            <p style="font-size: 25px; padding-bottom: 20px;">PC Parts:</p>
            <ul style="font-size: 20px; color: white; text-decoration:none; ">
                {% for data in pc %}
                        <li><a class="pclinks" href={{data.0}} target="_blank">{{data.1}}</a></li>
                {% endfor %}
            </ul> 
        </div>
    </div>
{% endblock %}
