{% extends 'head.html' %}
{% load static %}
{% block head %}
<title>projects — {{reponame}}</title>
{% endblock %}
{% block body %}
    <div class="projectimg">
        <div class="gittextbox">
            <a href="{{link}}" target="_blank" class="gitpagelink">{{reponame}}</a>
            <div style="height: 20px; width: 100%;"></div>
            {% if readme == 'ERROR: Cannot find README.md in this repository :(' %}
                <p>ERROR: Cannot find README.md in this repository :(</p>
            {% endif %}
            {% if readme != 'ERROR: Cannot find README.md in this repository :(' %}
            <div class="readme">
                <div class="readmetop"><p style='margin: 0; padding-top: 10px; padding-left: 10px;'>README.md</p></div>
                <div style='padding: 7%; padding-top: 0;'>
                    {{readme | safe}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class='projectreadmore'>
        <div class='projectreadmoretext'>
            <p style='font-size:35px; margin-bottom: 10px;'>GitHub Repositories</p>
            <ul>
                {% for repo in repos%}
                    <li><a href="{{repo.1}}" target="_blank"class="projlist">{{repo.0}}</a><p style='display: inline;'> — {{repo.2}}</p></li>
                {% endfor %}
            </ul>
            <p style='font-size:35px; margin-bottom: 10px;'>Other Project Pages</p>
            <ul>
                {% for repo in repos%}
                    <li><a href="/projects/{{repo.0}}" class="projlist">{{repo.0}}</a><p style='display: inline;'> — /projects/{{repo.0}}</p></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="pagebottoms">
        <div class="pagebottomtext">
            <p>L i n k s</p>
        </div>
        <div class="links">
            <a href={{medialinks.0}} target="_blank"><img src="{% static '/images/icons/insta.png' %}" class="lnk1"></a>
            <a href={{medialinks.1}} target="_blank"><img src="{% static '/images/icons/yt.png' %}" class="lnk1"></a>
            <a href={{medialinks.2}} target="_blank"><img src="{% static '/images/icons/github.png' %}" class="lnk1"></a>
            <a href={{medialinks.3}} target="_blank"><img src="{% static '/images/icons/repl.png' %}" class="lnk1"></a>
            <a href={{medialinks.4}} target="_blank"><img src="{% static '/images/icons/spotify.png' %}" class="lnk1"></a>
        </div>
    </div>
{% endblock %}