<!DOCTYPE html> 
<html lang=en>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Greer's website'">
    <meta name="author" content="Greer Page">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <link rel="icon" href="{% static '/images/favicon.jpg' %}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap" rel="stylesheet"> 
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topbuttons">
        <button class="hiddenbtn" onclick="Slide('smallmenu')"><i class="fas fa-bars fa-2x"></i></button>
        <a class="link{{linknum}}" href="/">Greer Page</a>
        <a class="link{{linknum}}" href="/about">About</a>
        <a class="link{{linknum}}" href="/projects">Projects</a>
        <a class="link0" href="/">Greer Page</a>
    </div>
    <div class="smallmenu closed" id="smallmenu">
        <a class="link10" href="/about">About</a>
        <a class="link10" href="/projects">Projects</a>
    </div>
    {% block body %}{% endblock %}
</body>
</html>