{% extends 'head.html' %}
{% load static %}

{% block head %}
    <title>Greer Page</title>
{% endblock %}

{% block body %}
    <div class="homeimg">
        <div class="topbuttons">
            <button class="hiddenbtn" onclick="Slide('smallmenu')"><i class="fas fa-bars fa-2x"></i></button>
            <a class="link" href="/">Greer Page</a>
            <a class="link" href="/about">About</a>
            <a class="link" href="/projects">Projects</a>
            <a class="link0" href="/">Greer Page</a>
        </div>
        <div class="smallmenu closed" id="smallmenu">
            <a class="link10" href="/about">About</a>
            <a class="link10" href="/projects">Projects</a>
        </div>
        <div class="buttons">
            <a href={{medialinks.0}} target="_blank"><img src="{% static '/images/icons/insta.png' %}" class="lnk"></a>
            <a href={{medialinks.1}} target="_blank"><img src="{% static '/images/icons/yt.png' %}" class="lnk"></a>
            <a href={{medialinks.2}} target="_blank"><img src="{% static '/images/icons/github.png' %}" class="lnk"></a>
            <a href={{medialinks.3}} target="_blank"><img src="{% static '/images/icons/repl.png' %}" class="lnk"></a>
            <a href={{medialinks.4}} target="_blank"><img src="{% static '/images/icons/spotify.png' %}" class="lnk"></a>
        </div>
        <div class="caption">
            <p>Puget Sound, July, 2019</p>
        </div>
    </div>
{% endblock %}
