{% extends 'home.html' %}
{% load static %}

{% block head %} 
    <title>Projects</title>
{% endblock %}

{% block body %} 
    <div class="projectimg">
        <div class="topbuttons">
            <button class="hiddenbtn" onclick="Slide('smallmenu')"><i class="fas fa-bars fa-2x"></i></button>
            <a class="link1" href="/">Greer Page</a>
            <a class="link1" href="/about">About</a>
            <a class="link0" href="/">Greer Page</a>
            <a class="link1" href="/projects">Projects</a>
        </div>
        <div class="smallmenu closed" id="smallmenu">
            <a class="link10" href="/about">About</a>
            <a class="link10" href="/projects">Projects</a>
        </div>
        <div class="about"></div>
    </div>
    <p class="centertext">Projects | Coming soon</p>
    <div class="pagebottoms">
        <div class="pagebottomtext">
            <p>L i n k s</p>
        </div>
        <div class="links">
            <a href={{medialinks.0}} target="_blank"><img src="{% static '/images/icons/insta.png' %}" class="lnk1"></a>
            <a href={{medialinks.1}} target="_blank"><img src="{% static '/images/icons/yt.png' %}" class="lnk1"></a>
            <a href={{medialinks.2}} target="_blank"><img src="{% static '/images/icons/github.png' %}" class="lnk1"></a>
            <a href={{medialinks.3}} target="_blank"><img src="{% static '/images/icons/repl.png' %}" class="lnk1"></a>
            <a href={{medialinks.4}} target="_blank"><img src="{% static '/images/icons/spotify.png' %}" class="lnk1"></a>
        </div>
    </div>
{% endblock %}
