{% extends 'head.html' %}
{% load static %}

{% block head %}  
    {% if host == 'greerpage.com' %}
        <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    {% else %}
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    {% endif %}
    <script src="{% static 'js/globalComps.js' %}"></script>
    <script src="{% static 'js/projects.js' %}"></script>
    <style>
        body {
            overflow-x: hidden;
        }
        @media screen and (max-width: 200px) {
            body {
            overflow-x: unset;
            }
        }
    </style>
    <title>Projects</title>
{% endblock %}

{% block body %} 
    <div class="projectimg">
        <div class="project-main">
            <div class="repos-container">
                <div class="projecttitle"><p>Projects</p></div>
            </div>
                 <div id="root"></div>
            </div>
        </div>
        <div style="height: 20vh; width: 100%;"></div>
    </div>
    
{% endblock %}
