{% extends 'head.html' %}
{% load static %}

{% block head %} 
    <title>Projects</title>
{% endblock %}

{% block body %} 
    <div class="projectimg">
        <div class="project-main">
            <div class="projecttitle"><p>Projects</p></div>
            <hr>
            <div class="repos-container">
                {% for repo in repos%}
                    <div class='repo-container'>
                        <a class="git-link" href="{{repo.1}}" target="_blank">{{repo.0}}</a>
                        <button class="lang-button" style="background-color: {{repo.4}};" onclick="DisplayIdToggle('{{repo.0}}-hidden')"></button>
                        <div id="{{repo.0}}-hidden" style="display: none;">
                            <span class="git-dot" style="background-color: {{repo.4}};"></span>
                            <span>{{repo.3}}</span>
                        </div>
                        <p style="margin-top: 10px;">{{repo.2}}</p>
                        <a class="git-link"href="/projects/{{repo.0}}">README.md</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div style="height: 20vh; width: 100%;"></div>
    </div>
    <div class='projectreadmore'>
        <div class='projectreadmoretext'>
            <p style='font-size:35px; margin-bottom: 10px;'>GitHub Repositories</p>
            <ul style="padding-bottom: 50px;">
                {% for repo in repos%}
                    <li><a href="{{repo.1}}" target="_blank"class="projlist">{{repo.0}}</a><p style='display: inline;'> — {{repo.2}}</p></li>
                {% endfor %}
            </ul>
            <p style='font-size:35px; margin-bottom: 10px;'>Project Pages</p>
            <ul>
                {% for repo in repos%}
                    <li><a href="/projects/{{repo.0}}" class="projlist">{{repo.0}}</a><p style='display: inline;'> — /projects/{{repo.0}}</p></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
